.idea/
__pycache__/
venv/

datasets/LFW/lfw/

saved_results/Models/*/*
!saved_results/Models/*/history.txt
!saved_results/Models/*/training_log.csv

saved_results/Tests/LFW/*
!saved_results/Tests/LFW/ROC.png
!saved_results/Tests/LFW/ROC_zoom.png
!saved_results/Tests/LFW/ROC_results.xlsx

saved_results/Tests/UPM-GTI-Face/Mask/*
!saved_results/Tests/UPM-GTI-Face/Mask/AUC Curves.xlsx
!saved_results/Tests/UPM-GTI-Face/Mask/AUC paper.png

saved_results/Tests/UPM-GTI-Face/No Mask/*
!saved_results/Tests/UPM-GTI-Face/No Mask/AUC Curves.xlsx
!saved_results/Tests/UPM-GTI-Face/No Mask/AUC paper.png

saved_results/Tests/RealWorldOccludedFaces/*
!saved_results/Tests/RealWorldOccludedFaces/Histogram.png

saved_results/Tests/SCface/*